@model Projektarbete2.Models.Faktura_tabel

@{
    ViewBag.Title = "Print";
}
<link href="/Content/print.css" rel="stylesheet" />


<fieldset>
    <legend>Faktura_tabel</legend>

    
    <div id="name" class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

   
    <div id="city" class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    
    <div id="deadline" class="display-field">
        @Html.DisplayFor(model => model.Deadline)
    </div>

    
    <div id="article" class="display-field">
        @Html.DisplayFor(model => model.Article)
    </div>

    
    <div id="price" class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    
    <div id="quantity" class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    
    <div id="total" class="display-field">
        @Html.DisplayFor(model => model.Total)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
